<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
<head th:replace ="/fragments/head :: head"></head>
<body>
<!--CSS customer-->
<link href="../static/css/style-panel.css" rel="stylesheet" type="text/css" th:href="@{/css/style-panel.css}">
<!-- Barra de navegación -->
<nav th:replace = "/fragments/navbar :: nav"></nav>

<!-- Seccion Hero -->
<section>
    <div th:if="${editar == null && advertencia == null}" class="container-xl py-3">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>
                                <i class="bi bi-journal-bookmark-fill"></i>
                                Noticias
                            </h2>
                        </div>
                        <div class="col-sm-6 d-flex justify-content-end">

                            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addNoticiaModal">
                                <i class="bi bi-plus-circle"></i>
                                <span>Crear noticia</span>
                            </button>
                        </div>

                    </div>

                </div>
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th>Creador</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody th:each="noticia : ${listarNoticias}">
                    <tr>
                        <td th:text="${noticia.id}"></td>
                        <td th:text="${noticia.titulo}"></td>
                        <td th:text="${noticia.creador.nombreUsuario}"></td>
                        <td>
                            <a th:href="@{/noticia/editar/__${noticia.id}__}" type="button" class="edit btn btn-default" ata-bs-target="#editarModal" >
                                <img src="../static/Imagenes/editar.png" th:src="@{/Imagenes/editar.png}" style="width: 30px; background-color: dodgerblue; border-radius: 5px;">
                                Editar
                            </a>
                            <a th:href="@{/noticia/advertencia/__${noticia.id}__}" type="button" class="delete btn btn-default" data-bs-target="#deleteNoticiaModal">
                                <img src="../static/Imagenes/eliminar.png" th:src="@{/Imagenes/eliminar.png}" style="width: 30px; background-color: brown; border-radius: 5px;">
                                Eliminar
                            </a>
                            <a th:href="@{/noticia/ver/__${noticia.id}__}" type="button" class="ver btn btn-default">
                                <img src="../static/Imagenes/search-50.png" th:src="@{/Imagenes/search-50.png}" style="width: 30px; background-color: cadetblue; border-radius: 5px;">
                                Ver mas
                            </a>
                        </td>
                    </tr>
                    </tbody>

                </table>

            </div>
        </div>
    </div>
</section>

<!--Tabla periodista-->
<section sec:authorize="hasRole('ADMIN')" th:if="${editar == null && advertencia == null}">
    <div class="container-xl py-3">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>
                                <i class="bi bi-journal-bookmark-fill"></i>
                                Periodistas
                            </h2>
                        </div>
                        <div class="col-sm-6 d-flex justify-content-end">

                        </div>

                    </div>

                </div>
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre de usuario</th>
                        <th>Fecha de alta</th>
                        <th>Rol</th>
                        <th class=" text-center">Activo</th>
                        <th class=" text-center">Inactivo</th>
                        <th>Sueldo Mensual</th>
                    </tr>
                    </thead>
                    <tbody th:each="periodista : ${listarPeriodistas}">
                    <tr>
                        <form>
                            <td th:text="${periodista.id}"></td>
                            <td th:text="${periodista.nombreUsuario}"></td>
                            <td th:text="${periodista.fechaAlta}"></td>
                            <td>
                                <select class="form-select" aria-label="Default select example">
                                    <option th:each="rol : ${listarRoles}" selected
                                    th:value="${rol}"
                                    th:text="${rol}"
                                    th:selected="true"
                                    />
                                </select>
                            </td>
                            <td class=" text-center">
                                <input th:if="${periodista.activo == true}" checked value="true" type="radio" name="activo">
                                <input th:if="${periodista.activo != true}" value="true" type="radio" name="activo">
                            </td>
                            <td class=" text-center">
                                <input th:if="${periodista.activo != true}" checked value="false" type="radio" name="activo">
                                <input th:if="${periodista.activo == true}" value="false" type="radio" name="activo">
                            </td>
                            <td>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">$</span>
                                    <input type="number" th:value="${periodista.sueldoMensual}" class="form-control" name="sueldoMensual">
                                </div>

                            </td>
                        </form>

                    </tr>
                    </tbody>

                </table>

            </div>
        </div>
    </div>
</section>



<!--Crear Modal Noticia-->
<div id="addNoticiaModal" class="modal fade" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="@{/noticia/crear}" th:object="${noticia}" method="POST">
                <input hidden th:value="${session.usuariosession.getId()}" name="creador">
                <div class="modal-header">
                    <h4 class="modal-title">Crear Noticia</h4>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">x</button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label>Título</label>
                        <input type="text" name="titulo" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Cuerpo</label>
                        <textarea name="cuerpo" class="form-control" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Cancelar">
                    <button type="submit" class="btn btn-success">Crear</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Editar Modal Noticia-->
<section th:if="${editar != null}">
    <div id="editarModal" class="modal fade show" style="display: block;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form th:action="@{/noticia/guardarEdicion}" method="post">
                    <div class="modal-header">
                        <h4 class="modal-title">Modificar Noticia</h4>
                        <a th:href="@{/admin/dashboard}" type="button" class="close" aria-hidden="true"><strong>X</strong></a>
                    </div>
                    <div class="modal-body">
                        <input hidden th:value="${id}" name="id">
                        <div class="form-group">
                            <label>Título</label>
                            <input th:value="${noticia.titulo}" name="titulo" type="text" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Cuerpo</label>
                            <textarea th:text="${noticia.cuerpo}" name="cuerpo" class="form-control" required></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a th:href="@{/admin/dashboard}" type="button" class="btn btn-default" value="Cancelar">Cancelar</a>
                        <input type="submit" class="btn btn-success" value="Guardar">
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>


<!--Eliminar Modal Noticia-->
<div th:if="${advertencia != null}" id="deleteNoticiaModal" class="modal fade show" style="display: block;" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Eliminar Noticia</h4>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">x</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <p>¿Estas seguro que quiere eliminar este registro?</p>
                        <p class="text-warning">
                            <small>Esta acción no se puede deshacer.</small>
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <a th:href="@{/admin/dashboard}" type="button" class="btn btn-default" value="Cancelar">Cancelar</a>
                    <a th:href="@{/noticia/eliminar/__${noticia.id}__}" class="btn btn-danger" value="Eliminar">Eliminar</a>
                </div>
            </form>
        </div>
    </div>
</div>



</body>
</html>